<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ini_parser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ini_parser.Properties.Settings>
            <setting name="UserConfFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DosBoxStagingExeFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="GlobalConfFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="JsonComboBoxOptionsFileName" serializeAs="String">
                <value>cboptions.json</value>
            </setting>
            <setting name="ShowSaveConfWaring" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GlobalConfFileName" serializeAs="String">
                <value>dosbox-staging.conf</value>
            </setting>
            <setting name="NonPortableFolderPathStart" serializeAs="String">
                <value>C:\users\</value>
            </setting>
            <setting name="NonPortableFolderPathEnd" serializeAs="String">
                <value>\AppData\Local\DOSBox\</value>
            </setting>
            <setting name="LaunchParameters" serializeAs="String">
                <value />
            </setting>
        </ini_parser.Properties.Settings>
    </userSettings>
</configuration>